## 1. Set the variable test1 to the string &#39;This is a test of the emergency text system,&#39; and save test1 to a file named test.txt.

In [2]:
test1 = 'This is a test of the emergency text system'

file = open('test.txt', 'wt')

file.write(test1)

file.close()

## 2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?
### Ans :- 
- No

In [3]:
with open('test.txt', 'rt') as infile:
    test2 = infile.read()

test1 == test2

True

## 3. Create a CSV file called books.csv by using these lines: title,author,year The Weirdstone of Brisingamen,Alan Garner,1960 Perdido Street Station,China Miéville,2000 Thud!,Terry Pratchett,2005 The Spellman Files,Lisa Lutz,2007 Small Gods,Terry Pratchett,1992

In [4]:
text='''title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992'''
with open('books.csv', 'wt') as outfile:
    outfile.write(text)

## 4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [6]:
import sqlite3
db = sqlite3.connect('books.db')
curs = db.cursor()
curs.execute('''create table book (title text, author text, year int)''')
db.commit()

## 5. Read books.csv and insert its data into the book table.

In [7]:
import csv
import sqlite3
ins_str = 'insert into book values(?, ?, ?)'
with open('books.csv', 'rt') as infile:
    books = csv.DictReader(infile)
    for book in books:
        curs.execute(ins_str, (book['title'], book['author'], book['year']))
db.commit()

## 6. Select and print the title column from the book table in alphabetical order.

In [8]:
sql = 'select title from book order by title asc'
for row in db.execute(sql):
    print(row)
('Perdido Street Station',)
('Small Gods',)
('The Spellman Files',)
('The Weirdstone of Brisingamen',)
('Thud!',)
for row in db.execute(sql):
    print(row[0])

('Perdido Street Station',)
('Small Gods',)
('The Spellman Files',)
('The Weirdstone of Brisingamen',)
('Thud!',)
Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!

## 7. From the book table, select and print all columns in the order of publication.

In [9]:
for row in db.execute('select * from book order by year'):
    print(row)
print()

for row in db.execute('select * from book order by year'):
    print(*row, sep=', ')

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

The Weirdstone of Brisingamen, Alan Garner, 1960
Small Gods, Terry Pratchett, 1992
Perdido Street Station, China Miéville, 2000
Thud!, Terry Pratchett, 2005
The Spellman Files, Lisa Lutz, 2007

## 8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [10]:
import sqlalchemy
conn = sqlalchemy.create_engine('sqlite:///books.db')
sql = 'select title from book order by title asc'
rows = conn.execute(sql)
for row in rows:
     print(row)

('Perdido Street Station',)
('Small Gods',)
('The Spellman Files',)
('The Weirdstone of Brisingamen',)
('Thud!',)

## 9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name (&#39;Fester Bestertester&#39;). Print all the fields for test.

In [11]:
!pip install redis

Collecting redis
  Downloading redis-4.5.5-py3-none-any.whl (240 kB)
     ------------------------------------ 240.3/240.3 kB 377.8 kB/s eta 0:00:00
Collecting async-timeout>=4.0.2
  Downloading async_timeout-4.0.2-py3-none-any.whl (5.8 kB)
Installing collected packages: async-timeout, redis
Successfully installed async-timeout-4.0.2 redis-4.5.5

## 10. Increment the count field of test and print it.

conn.hincrby('test', 'count', 3) 4 conn.hget('test', 'count') b'4'